# Ignore Visual Studio temporary files
.vs/

# Ignore build output directories
bin/
obj/

# Ignore user-specific files
*.user
*.suo

# Ignore sensitive files (if applicable)
appsettings.json
/LessonTree.Api/logs/log20250619.txt
/LessonTree.Api/logs/log20250620.txt
